.loginsignup{
    width:100%;
    height:80vh;
    background: #fce3fc;
    padding-top: 100px;
}
.loginsignup-container{
    width:580px;
    height:600px;
    background: white;
    padding: 40px 60px; 
    margin: auto;
}
.loginsignup-container h1{
    margin: 20px 0px;
}